#login {
    margin: 20vh auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#login > * {
    margin-bottom: 20px;
}

.todo-item {
    display: block;
    align-items: center;
    width: 100%;
}

#todo {
    width: 100%;
}

.todo-body {
    display: flex;
    align-items: center;
}
.todo-item {
    margin: 5px;
}
.todo-item-text {
    flex-grow: 1;
}